# Node dependencies
node_modules
.npm

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist
.vite
coverage

# Local env/config
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode
.idea
